<main role="main" class="container">
    <div class="row">
        <div class="col-12">
            <h1>Estadisticas</h1>
        </div>
    </div>
    <div class="row">

    </div>
    <div class="row">
        <div class="col-lg-12">
            <p>Url original: {{item.url}}</p>
            <p>Url acortado: {{item.shortUrl}}</p>
            <p>Veces redireccionado: {{item.visited}}</p>
        </div>
    </div>
</main>